@import url(https://fonts.googleapis.com/css?family=Advent+Pro:100);
html { 
  background:   url(wink.gif) no-repeat center center fixed; 
  background-size: cover;
}
h1{
  font-family: 'Advent Pro', sans-serif;
  font-size: 3em;
  margin: .2em .5em;
  color: rgba(0,0,0, 0.3);
}

main {
  background: transparent;
  height: 200px;
  width: 60%;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  resize: both;
  overflow: auto;
}

main div {
  background: transparent;
  color: white;
  width: 50%;
  padding: 20px;
  resize: both;
  overflow: auto;
}

body {
    height: 100%;
}